html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

.full {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed; }

.arrD {
  cursor: pointer; }

h1, h2, h4 {
  color: #333b42; }

p {
  color: #9da1a5;
  font-size: 0.8em; }

header {
  background-color: #360852;
  background-image: url(../img/header-bg-min.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  header .content {
    height: calc(100% - 50px);
    width: 100%;
    padding: 50px 180px 0;
    color: white;
    position: relative; }
    header .content .links {
      width: calc(100% - 180px*2);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      header .content .links ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        list-style: none;
        font-size: 0.8em;
        font-weight: bold;
        cursor: pointer; }
        header .content .links ul li:first-child {
          position: relative; }
          header .content .links ul li:first-child:after {
            content: '';
            width: 150%;
            height: 3px;
            background: #28c8c6;
            position: absolute;
            bottom: -20px;
            left: -10px; }
        header .content .links ul button {
          width: 115px;
          height: 45px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          color: white;
          background: #a100ff;
          outline: none;
          border: none;
          border-radius: 5px;
          cursor: pointer; }
          header .content .links ul button span {
            font-size: 1.1em;
            line-height: 1;
            font-weight: bold;
            margin-right: 10px; }
    header .content .wrapper {
      position: relative;
      top: calc(50% - 200px); }
    header .content .text {
      width: 400px; }
      header .content .text h1 {
        margin: 10px 0;
        font-size: 3em;
        font-weight: bold;
        line-height: 1;
        color: white; }
      header .content .text p {
        color: white;
        font-weight: bold;
        line-height: 1.5;
        text-shadow: 0 0 5px black; }
    header .content .form {
      width: 500px;
      height: 45px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      header .content .form .select {
        width: 215px;
        height: 45px;
        overflow: hidden;
        background-image: url(../img/arrow-down-min.png);
        background-repeat: no-repeat;
        background-position: 93% 50%;
        background-color: #fff;
        background-size: 9%;
        border-radius: 3px; }
        header .content .form .select select {
          width: 215px;
          height: 45px;
          font-size: 0.8em;
          font-weight: bold;
          line-height: 1;
          -webkit-appearance: none;
          color: #525252;
          background-color: transparent;
          padding: 15px;
          border: 0;
          border-radius: 0;
          outline: none;
          cursor: pointer; }
      header .content .form .email {
        width: 210px;
        height: 45px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-radius: 3px;
        overflow: hidden; }
        header .content .form .email input {
          width: 80%;
          height: 45px;
          border: 0;
          outline: 0;
          padding-left: 15px;
          font-weight: bold; }
        header .content .form .email .arrR {
          width: 20%;
          height: 45px;
          background-image: url(../img/blue-arrow-right-min.png);
          background-repeat: no-repeat;
          background-position: 40% 50%;
          background-size: 33%;
          background-color: white; }
      header .content .form .enterBut {
        width: 50px;
        height: 45px;
        background: #28c8c6;
        outline: 0;
        border: 0;
        border-radius: 5px;
        cursor: pointer; }
  header .bottom {
    width: 100%;
    height: calc(85px / 2);
    position: relative;
    bottom: 0;
    left: 0; }
    header .bottom .arrD {
      position: absolute;
      bottom: 0;
      left: calc(50% - 85px/2);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 85px;
      height: 85px;
      background-image: url(../img/roundy-bg-min.png);
      background-position: center;
      border-radius: 50%;
      cursor: pointer; }
    header .bottom .contact {
      position: absolute;
      right: -33px;
      bottom: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 145px;
      height: 45px;
      font-size: 0.9em;
      font-weight: bold;
      color: white;
      padding: 5px 0;
      background-color: #8500d2;
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      border-radius: 5px;
      cursor: pointer; }

main .design {
  background-image: url(../img/roundy-bg-min.png);
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 180px 0;
  text-align: center; }
  main .design h2 {
    margin: 45px 0 10px 0;
    font-size: 2.1em; }
  main .design p {
    width: 500px;
    font-weight: 700;
    margin-bottom: 70px; }

main .features {
  position: relative;
  -webkit-box-shadow: 0 1px 5px -2px #aaa;
  box-shadow: 0 1px 5px -2px #aaa; }
  main .features .arrD {
    background: #22a7f0;
    width: 90px;
    height: 90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: -50px;
    left: calc(50% - 45px);
    border-radius: 50%; }
  main .features .content {
    padding: 100px 180px 75px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    main .features .content h2 {
      font-size: 1.4em;
      margin: 30px 0 5px 0; }
    main .features .content p {
      width: 60%;
      font-weight: 700;
      line-height: 2;
      margin-bottom: 50px; }
    main .features .content .grid {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      text-align: center; }
      main .features .content .grid .gitem {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        main .features .content .grid .gitem .imgWrap {
          height: 105px;
          width: 105px;
          border-radius: 50%;
          background-color: #8500d2;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center; }
        main .features .content .grid .gitem h4 {
          text-transform: uppercase;
          margin-top: 35px;
          margin-bottom: 10px;
          font-size: 0.9em; }
        main .features .content .grid .gitem p {
          width: 100%;
          line-height: 2;
          font-size: 1em; }
  main .features .BottomArrD {
    height: 90px;
    width: 90px;
    background: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    left: calc(50% - 45px);
    -webkit-box-shadow: 0px 1px 5px -2.2px #aaa;
    box-shadow: 0px 1px 5px -2.2px #aaa; }

main .guidelines {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background: #f6f9fa;
  padding: 50px 180px 0; }
  main .guidelines h2 {
    margin: 65px 0 0; }
  main .guidelines p {
    width: 75%;
    font-weight: 700;
    line-height: 2; }
  main .guidelines .guides {
    width: 50%;
    height: 50px;
    margin-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #28c8c6;
    border-right: none; }
    main .guidelines .guides .guide {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 50px;
      -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-right: 1px solid #28c8c6;
      cursor: pointer; }
      main .guidelines .guides .guide:last-item {
        border-right: 1px solid red; }
      main .guidelines .guides .guide h4 {
        margin: 0;
        color: #28c8c6;
        font-weight: 700;
        font-size: 0.8em; }
    main .guidelines .guides .picked {
      background-color: #28c8c6; }
      main .guidelines .guides .picked h4 {
        color: #f6f9fa; }
  main .guidelines .grid {
    margin: 41px 0 85px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    main .guidelines .grid .gitem {
      background-color: white;
      border-radius: 5px;
      overflow: hidden;
      margin-right: 15px; }
      main .guidelines .grid .gitem:last-item {
        margin-right: 0; }
      main .guidelines .grid .gitem .lamp {
        width: 310px;
        height: 175px;
        background-image: url(../img/circle-min.png);
        background-size: 140% 170%;
        background-repeat: no-repeat;
        background-position: 30% 40%; }
      main .guidelines .grid .gitem .bottom {
        width: 100%;
        height: 65px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer; }
        main .guidelines .grid .gitem .bottom h4 {
          font-size: 0.8em;
          font-weight: 700;
          text-transform: uppercase;
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
          flex-grow: 1; }
        main .guidelines .grid .gitem .bottom .arr {
          width: 7px;
          height: 7px;
          margin-right: 20px;
          border-right: 2px solid #28c8c6;
          border-bottom: 2px solid #28c8c6;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

main .girl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 175px;
  background-image: url(../img/girl-min.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  main .girl .txt {
    width: 30%;
    margin: 20px 0 0 30px; }
    main .girl .txt h1 {
      color: white;
      font-size: 3.3em;
      line-height: 1;
      margin-bottom: 0; }
    main .girl .txt p {
      color: white;
      font-size: 0.9em;
      font-weight: 900;
      line-height: 1.5; }

main .last {
  width: 100vw;
  height: 700px;
  position: relative;
  padding-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  main .last .arrUp {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #919191;
    background-image: url(../img/arrow-up-min.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
  main .last img {
    position: absolute;
    top: -55%;
    right: 10%; }

footer {
  width: 74%;
  padding: 50px 180px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 100px; }
  footer .media {
    width: 165px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end; }
    footer .media .but {
      width: 80px;
      height: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: white;
      font-size: 0.7em;
      font-weight: 700;
      border-radius: 5px; }
      footer .media .but img {
        margin-right: 5px; }
    footer .media .twitter {
      background-color: #69b6f2; }
    footer .media .facebook {
      background-color: #3a579a; }
  footer .wrapper {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    footer .wrapper .links {
      width: 18%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      footer .wrapper .links ul {
        padding: 0;
        list-style: none;
        color: #9da1a5;
        font-size: 0.8em;
        line-height: 2.3; }
    footer .wrapper .txt {
      text-align: right;
      font-weight: 700; }
      footer .wrapper .txt p {
        margin-top: 0; }

@media (max-width: 770px) {
  header .content {
    padding: 5%; }
    header .content .links {
      width: 87%; }
      header .content .links ul {
        -webkit-flex-basis: 80%;
        -ms-flex-preferred-size: 80%;
        flex-basis: 80%; }
  main .features .content {
    padding: 5%; }
    main .features .content p {
      width: 100%; }
    main .features .content .grid {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      main .features .content .grid .gitem {
        -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%; }
  main .guidelines {
    padding: 5%; }
    main .guidelines p {
      width: 100%; }
    main .guidelines .guides {
      width: 90%; }
    main .guidelines .grid {
      width: 100%;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      main .guidelines .grid .gitem {
        -webkit-flex-basis: 90%;
        -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
        margin-bottom: 15px;
        margin-right: 0; }
        main .guidelines .grid .gitem:last-child {
          margin-bottom: 0; }
        main .guidelines .grid .gitem .lamp {
          width: 100%;
          height: 250px;
          -webkit-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          background-size: cover;
          background-position: center; }
  main .girl {
    padding: 5%; }
    main .girl .txt {
      width: 60%; }
  main .last {
    height: 450px; }
    main .last img {
      width: 500px;
      top: -25%; }
  footer {
    padding: 5%;
    width: 90%;
    margin-bottom: 0; }
    footer .links {
      -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
      flex-basis: 30%; } }

@media (max-width: 425px) {
  header {
    padding: 0 3%; }
    header .content .links {
      width: 100%; }
      header .content .links img {
        display: none; }
      header .content .links ul {
        padding-left: 0;
        margin-top: 0;
        -webkit-flex-basis: 83%;
        -ms-flex-preferred-size: 83%;
        flex-basis: 83%; }
        header .content .links ul button {
          width: 90px; }
    header .content .wrapper {
      top: calc(50% - 230px); }
      header .content .wrapper .text h1 {
        width: 80%;
        margin: 0;
        text-align: center; }
      header .content .wrapper .text p {
        width: 80%;
        text-align: center; }
      header .content .wrapper .form {
        width: 80%;
        height: auto;
        margin-left: 0;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
        header .content .wrapper .form .select, header .content .wrapper .form .email {
          -webkit-flex-basis: 90%;
          -ms-flex-preferred-size: 90%;
          flex-basis: 90%;
          margin-bottom: 15px; }
        header .content .wrapper .form .select select {
          width: 100%; }
        header .content .wrapper .form .enterBut {
          margin-top: 5px;
          text-align: center; }
    header .bottom {
      display: none; }
  main .design {
    padding: 5%;
    padding-bottom: 0; }
    main .design h2 {
      margin-top: 0; }
    main .design p {
      width: 100%; }
  main .features .arrD, main .features .BottomArrD {
    display: none; }
  main .features .content h2 {
    margin-top: 0;
    font-size: 2.1em; }
  main .features .content .grid .gitem {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  main .guidelines h2 {
    margin-top: 0;
    font-size: 1.9em; }
  main .guidelines .guides {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px;
    border: none; }
    main .guidelines .guides .picked {
      border: none; }
    main .guidelines .guides .guide {
      border: 1px solid #28c8c6;
      -webkit-flex-basis: 45%;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%; }
      main .guidelines .guides .guide:nth-child(3) {
        border: none;
        border-left: 1px solid #28c8c6;
        border-bottom: 1px solid #28c8c6; }
      main .guidelines .guides .guide h4 {
        font-size: 0.7em; }
  main .girl {
    padding: 5% 0;
    background-color: #8500d2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    main .girl .txt {
      width: 90%;
      margin-left: 0; }
      main .girl .txt h1 {
        margin-top: 0; }
      main .girl .txt h1, main .girl .txt p {
        text-align: center; }
  main .last {
    height: 250px; }
    main .last img {
      width: 350px;
      top: -45%; }
  footer {
    margin-top: 50px; }
    footer .media {
      width: 100%;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    footer .wrapper {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      footer .wrapper .links {
        width: 80%;
        margin-left: 50px; }
        footer .wrapper .links ul {
          width: 50%; }
      footer .wrapper .txt {
        text-align: center; }
    footer p {
      text-align: center; } }
